<div class="breadcrumb">
  <h1>MECZY</h1>
  <ul>
    <li><a href="">Plateforme de Gestion de credit</a></li>
    <li>Nouveau rendez vous</li>
  </ul>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="card o-hidden w-80  mt-3" >
  <div class="card-body w-100">
    <div class="col-md-12 mt-1">
      <form [formGroup]="clientForm">
        <div class="form-group row">
          <div class="form-group mb-4 col-md-6 ">
            <label for="nom">Numéro membre (*)</label>
            <input type="number" class="form-control " formControlName="codeClt" placeholder="Numéro membre">
          </div>
          <div class="float-right mt-4">
            <button [disabled]="clientForm.invalid" class="btn btn-success" (click)="getClient()">
            Rechercher
            </button>
        </div>
        </div>
        
      </form>
    </div>
    <div class="col-md-12 row mt-1">
      <div class="col-md-5 " *ngIf="trouvee">
        <div class="card ">
          <div class="card-body">
            <h4> Information client</h4>
            <div class="d-flex flex-row justify-content-between mb-2">
              <div class="text-12 text-uppercase text-muted">Nom du client </div>
              <div class="font-weight-bold text-16 text-success">Moustapha Cissé
              </div>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
              <div class="text-12 text-uppercase text-muted">Date adhésion</div>
              <div class="font-weight-bold text-16"> 8/16/1997</div>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
              <div class="text-12 text-uppercase text-muted">Télephone</div>
              <div class="font-weight-bold text-16"> 77xxxxxxx</div>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
              <div class="text-12 text-uppercase text-muted">Agence</div>
              <div class="font-weight-bold text-16"> Yoff </div>
            </div>
            <h4 class="pt-3 mt-3 border-top">Information comptes</h4>
            <div class="d-flex flex-row justify-content-between mb-2">
              <div class="text-12 text-uppercase text-muted">CAP</div>
              <div class="font-weight-bold text-16">   3 500,00   </div>
              <div class="font-weight-bold text-16"> T</div>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
              <div class="text-12 text-uppercase text-muted">EPNAN</div>
              <div class="font-weight-bold text-16">   3 500,00   </div>
              <div class="font-weight-bold text-16"> T</div>
            </div>
            <div class="d-flex flex-row justify-content-between mb-2">
              <div class="text-12 text-uppercase text-muted">EPREG</div>
              <div class="font-weight-bold text-16">   3 500,00   </div>
              <div class="font-weight-bold text-16"> A</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-8 col-sm-12 col-xm-12" *ngIf="trouvee">
        <div class="card" >
          <div class="card-body">
            <form class="event-form p-3" [formGroup]="regionForm" (ngSubmit)="saveRegion()">
              <div class="row form-group">
          
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label>Planing</label>
                    <select class="form-control" formControlName="idplanification" (change)="getCommuneSelect($event)"> >            
                       <option value="">Planification</option>
                       <option   value="{{item.idplanification}}" *ngFor="let item of planification">{{item.dateplanification}}</option>
                    </select>
                  </div>
                  <!-- <div class="form-group mb-3">
                    <label>Membre</label>
                    <input type="text" class="form-control"  formControlName="numeromembre" placeholder="numeromembre">
                  </div> -->
                  <div class="form-group mb-3">
                    <label>Horaire</label>
                    <input type="time" class="form-control"   formControlName="heurerendezvous" placeholder="heurerendezvous">
                  </div>
          
                   <div class="form-group mb-3">
                    <label>Description</label>
                    <input type="text" class="form-control"  formControlName="descriptionrendezvous" placeholder="descriptionrendezvous">
                  </div>
                 
                <div class="form-group mb-3">
                    <label>Agent Credit</label>
                    <select class="form-control" formControlName="idutilisateur" (change)="getUserSelect($event)">           
                       <option value="">Agent</option>
                       <option   value="{{item.idutilisateur}}" *ngFor="let item of utilisateur">{{item.prenom}} {{item.nom}}</option>
                    </select>
                  </div>
          
          
                </div>
              </div>
          
              <div class="col-md-12 row">
                    <div class="col-md-3">
                        <label class="radio radio-reverse radio-success ">
                            <input type="radio"  name="etat"  formControlName="etat" required value="1"  >
                            <span>Activer</span>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                     <div class="col-md-3">
                        <label class="radio radio-reverse radio-danger ">
                            <input type="radio" name="etat"  required formControlName="etat" >
                            <span>Désactiver</span>
                            <span class="checkmark"></span>
                        </label>
                     </div>
                </div>
                <div class="modal-footer mt-3">
                    <button type="button" class="btn btn-danger mr-3 mb-sm-0 mb-3" aria-label="Close" (click)="closeModal()">
                        Annuler
                      </button>
                  <btn-loading   btnClass="btn btn-success mr-3 mb-sm-0 mb-3 " [loadingText]="loadingText"
                    [loading]="loading">
                    <i class="i-Download"></i>Enregistrer
                  </btn-loading>
                </div>
              </form>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>