<div class="modal-header">
    <h4>Rendez Vous</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form class="event-form p-3" [formGroup]="regionForm" (ngSubmit)="saveRegion()">
      <div class="row form-group">
  
        <div class="col-md-12">
          <div class="form-group mb-3">
            <label>Planing</label>
                <input type="text" class="form-control"   formControlName="idplanification" value="{{urictgcommune.nomplanification}}" disabled>
              
          </div>
          <div class="form-group mb-3">
            <label>Membre</label>
            <input type="text" class="form-control"  formControlName="numeromembre" placeholder="numeromembre" disabled>
          </div>
          <div class="form-group mb-1">
            <label>Horaire</label>
            <input type="time" class="form-control"   formControlName="heurerendezvous" placeholder="heurerendezvous">
          </div>
  
           <div class="form-group mb-3">
            <label>Description</label>
            <input type="text" class="form-control"  hidden formControlName="descriptionrendezvous" placeholder="" disabled>
          </div>
          
        </div>
      </div>
  
     <div class="col-md-12 row">
            <div class="col-md-3">
                <label class="radio radio-reverse radio-success ">
                    <input type="radio"  name="etat"  [checked]="rendezvous.etat === 2"  formControlName="etat" required value="2"  >
                    <span>Validé</span>
                    <span class="checkmark"></span>
                </label>
            </div>
             <div class="col-md-3">
                <label class="radio radio-reverse radio-danger ">
                    <input type="radio" name="etat" [checked]="rendezvous.etat == 1"   required formControlName="etat" >
                    <span>Désactiver</span>
                    <span class="checkmark"></span>
                </label>
             </div>
        </div> 
        <div class="modal-footer mt-3">
            <button type="button" class="btn btn-danger mr-3 mb-sm-0 mb-3" aria-label="Close" (click)="closeModal()">
                Annuler
              </button>
          <btn-loading   btnClass="btn btn-success mr-3 mb-sm-0 mb-3 " [loadingText]="loadingText"
            [loading]="loading">
            <i class="i-Download"></i>Enregistrer
          </btn-loading>
        </div>
      </form>
    </div>