<div class="modal-header">
    <h4>Commune</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form class="event-form p-3" [formGroup]="regionForm" (ngSubmit)="saveRegion()">
      <div class="row form-group">
  
        <div class="col-md-12">
          <div class="form-group mb-3">
            <label>Département</label>
            <select class="form-control" formControlName="iddepartement" (change)="getDepartementSelect($event)">            
               <option value="">Departement</option>
               <option   value="{{item.iddepartement}}" *ngFor="let item of departement">{{item.nomdepartement}}</option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label>Commune</label>
            <input type="text" class="form-control"  formControlName="nomcommune" placeholder="Commune>
          </div>
        </div>
      </div>
  
      <div class="col-md-12 row">
          <div class="col-md-3">
              <label class="radio radio-reverse radio-success ">
                  <input type="radio"  name="etat"  [checked]="commune.etat === 1"  formControlName="etat" required value="1"  >
                  <span>Activer</span>
                  <span class="checkmark"></span>
              </label>
          </div>
           <div class="col-md-3">
              <label class="radio radio-reverse radio-danger ">
                  <input type="radio" name="etat" value="0" [checked]="commune.etat === 0"   required formControlName="etat" >
                  <span>Désactiver</span>
                  <span class="checkmark"></span>
              </label>
           </div>
      </div>
      
      <div class="modal-footer mt-3">
          <button type="button" class="btn btn-danger mr-3 mb-sm-0 mb-3" aria-label="Close" (click)="closeModal()">
              Annuler
            </button>
        <btn-loading   btnClass="btn btn-success mr-3 mb-sm-0 mb-3 " [loadingText]="loadingText"
          [loading]="loading">
          <i class="i-Download"></i>Enregistrer
        </btn-loading>
      </div>
    </form>
  </div>