<div class="breadcrumb">
  <h1>MECZY</h1>
  <ul>
    <li><a href="">Plateforme de Gestion de credit</a></li>
    <li>Gestion pays</li>
  </ul>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="row mb-2">
  <div class="col-md-12 mb-3">
    <div class="d-sm-flex">
      <span class="m-auto"></span>
      
      <button (click)="goToDialog()" class="btn btn-success float-right">
        Nouveau pays
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="card  o-hidden">
          <ngx-datatable
          style="height: 500px; box-shadow: none"
          class="material fullscreen"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="60"
          [scrollbarV]="true"
          [rows]="pays">
          <ngx-datatable-column>
            <ng-template ngx-datatable-header-template>
                Pays
            </ng-template>
            <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                {{row.nompays}}
            </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [flexGrow]="1">
          <ng-template ngx-datatable-header-template>
            <div class="font-weight-bold headTable"> Statut </div>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <div class="badge" [ngClass]="{
                  'badge-success': row.etat == true,
                  'badge-danger': row.etat == false
              }">
              {{row.etat == true ? 'Activé' : 'Désactiver'}}
            </div>
          </ng-template>
        </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                  Actions
              </ng-template>
              <ng-template ngx-datatable-cell-template let-value="value"  let-row="row">
                  <button title="Modifier" class="btn btn-primary mr-2"  (click)="goToDialogUpdate(row)"  >
                      <i class="i-Edit"></i>
                  </button>
              </ng-template>
          </ngx-datatable-column>
            
        </ngx-datatable>
      </div>
  </div>
</div>