<div class="modal-header">
    <h4>Utilisateur</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form class="event-form p-3" [formGroup]="regionForm" (ngSubmit)="saveRegion()">
      <div class="row form-group">
  
        <div class="col-md-12">
          <div class="form-group mb-3">
            <label>Agence</label>
            <select class="form-control" formControlName="idagence" (change)="getCommuneSelect($event)">          
               <option value="">{{urictgagence.adresseagence}}</option>
               <option   value="{{item.idagence}}" *ngFor="let item of agence">{{item.adresseagence}}</option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label>Prenom</label>
            <input type="text" class="form-control"  formControlName="prenom" placeholder="prenom">
          </div>
          <div class="form-group mb-3">
            <label>Nom</label>
            <input type="text" class="form-control"   formControlName="nom" placeholder="nom">
          </div>
  
           <div class="form-group mb-3">
            <label>Matricule</label>
            <input type="text" class="form-control"  formControlName="matricule" placeholder="Matricule">
          </div>
         
        <div class="form-group mb-3">
            <label>Profils</label>
            <select class="form-control" formControlName="idprofils" (change)="getUserSelect($event)">           
               <option value="">Profils</option>
               <option   value="{{item.idprofils}}" *ngFor="let item of profils">{{item.nomprofils}}</option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label>Email</label>
            <input type="text" class="form-control"  formControlName="email" placeholder="E-mail">
          </div>
          <div class="form-group mb-3">
            <label>Telephone</label>
            <input type="text" class="form-control"  formControlName="telephone" placeholder="telephone">
          </div>
          <div class="form-group mb-3">
            <label>Password</label>
            <input type="text" class="form-control"  formControlName="password" placeholder="Mot de passe">
          </div>
  
  
        </div>
      </div>
  
      <div class="col-md-12 row">
            <div class="col-md-3">
                <label class="radio radio-reverse radio-success ">
                    <input type="radio"  name="etat"  [checked]="utilisateur.etat === 1"  formControlName="etat" required value="1"  >
                    <span>Activer</span>
                    <span class="checkmark"></span>
                </label>
            </div>
             <div class="col-md-3">
                <label class="radio radio-reverse radio-danger ">
                    <input type="radio" name="etat" [checked]="utilisateur.etat == 0"   required formControlName="etat" >
                    <span>Désactiver</span>
                    <span class="checkmark"></span>
                </label>
             </div>
        </div>
        <div class="modal-footer mt-3">
            <button type="button" class="btn btn-danger mr-3 mb-sm-0 mb-3" aria-label="Close" (click)="closeModal()">
                Annuler
              </button>
          <btn-loading   btnClass="btn btn-success mr-3 mb-sm-0 mb-3 " [loadingText]="loadingText"
            [loading]="loading">
            <i class="i-Download"></i>Enregistrer
          </btn-loading>
        </div>
      </form>
    </div>