.auth-layout-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    .auth-content {
        max-width: 660px;
        margin: auto;
    }
}

.auth-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.auth-logo {
    img {
        width: auto;
        height: 100px;
    }
}

@media (min-width: 1024px) {
    .auth-layout-wrap {
        .auth-content {
            min-width: 520px;
        }
    }
}
@media (max-width: 767px) {
    .auth-layout-wrap {
        .auth-content {
            padding: 15px;
        }
    }
    .auth-right {
        padding: 80px 15px;
    }
}