<div class="card o-hidden" [@animate]="{value:'*',params:{y:'120px',opacity:'0',delay:'100ms', duration: '400ms'}}">
    <div class="row">
      <div class="col-md-12">
        <div class="p-4">
          <div class="auth-logo text-center mb-4">
            <img src="assets/images/meczy.png" alt="">
          </div>
          <h1 class="mb-3 text-20">Se connecter</h1>
          <form [formGroup]="signinForm" (ngSubmit)="signin()">
            <div class="form-group">
              <label for="matricule">Numéro d'identification</label>
              <input id="matricule" class="form-control form-control-rounded" formControlName="matricule" type="matricule">
            </div>
            <div class="form-group">
              <label for="password">Mot de passe</label>
              <input id="password" class="form-control form-control-rounded" formControlName="password" type="password">
            </div>
            <!-- <button class="btn btn-rounded btn-primary btn-block mt-2">Sign In</button> -->
            <btn-loading btnClass="btn-primary btn-rounded btn-block mt-3" [loadingText]="loadingText" [loading]="loading">
              Se connecter
            </btn-loading>
          </form>

          <div class="mt-3 text-center">
            <a href="" class="text-muted" routerLink="/sessions/forgot"><u>
              Mot de passe oublié ?
            </u></a>
          </div>
        </div>
      </div>
      
    </div>
  </div>