<div class="modal-header">
    <h4>Planification</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form class="event-form p-3" [formGroup]="regionForm" (ngSubmit)="saveRegion()">
      <div class="row form-group">

        <div class="col-md-12">
          <div class="form-group mb-3">
            <label>Agence</label>
            <select class="form-control" formControlName="idagence">            
               <option value="">Agence</option>
               <option   value="{{item.idagence}}" *ngFor="let item of agence">{{item.adresseagence}}</option>
            </select>
          </div>
  
          <div class="form-group mb-3">
            <label>Date</label>
            <input type="date" class="form-control"  formControlName="dateplanification" >
          </div>
          <div class="form-group mb-3">
            <label>Nombre dossier Autorisé</label>
            <input type="number" class="form-control"  formControlName="maxdossierplanification" >
          </div>
        </div>
      </div>
  
      <div class="col-md-12 row">
        <div class="col-md-3">
            <label class="radio radio-reverse radio-success ">
                <input type="radio"  name="etat"  [checked]="planification.etat === 1"  formControlName="etat" required value="1"  >
                <span>Activer</span>
                <span class="checkmark"></span>
            </label>
        </div>
         <div class="col-md-3">
            <label class="radio radio-reverse radio-danger ">
                <input type="radio" name="etat" value="0" [checked]="planification.etat === 0"   required formControlName="etat" >
                <span>Désactiver</span>
                <span class="checkmark"></span>
            </label>
         </div>
    </div>
    
    <div class="modal-footer mt-3">
        <button type="button" class="btn btn-danger mr-3 mb-sm-0 mb-3" aria-label="Close" (click)="closeModal()">
            Annuler
          </button>
      <btn-loading   btnClass="btn btn-success mr-3 mb-sm-0 mb-3 " [loadingText]="loadingText"
        [loading]="loading">
        <i class="i-Download"></i>Enregistrer
      </btn-loading>
    </div>
  </form>
</div>