<div class="modal-header">
    <h4>Région</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form class="event-form p-3" [formGroup]="regionForm" (ngSubmit)="saveRegion()">
      <div class="row form-group">
  
        <div class="col-md-12">
          <div class="form-group mb-3">
            <label>Pays</label>
            <select class="form-control" formControlName="idpays">            
               <option value="">Pays</option>
               <option   value="{{item.idpays }}" *ngFor="let item of pays">{{item.nompays}}</option>
            </select>
          </div>
  
          <div class="form-group mb-3">
            <label>Région</label>
            <input type="text" class="form-control"  formControlName="nomregion" placeholder="Région">
          </div>
        </div>
      </div>
  
      <div class="col-md-12 row">
          <div class="col-md-3">
              <label class="radio radio-reverse radio-success ">
                  <input type="radio"  name="statut"  [checked]="region.statut === 1"  formControlName="statut" required value="1"  >
                  <span>Activer</span>
                  <span class="checkmark"></span>
              </label>
          </div>
           <div class="col-md-3">
              <label class="radio radio-reverse radio-danger ">
                  <input type="radio" name="statut" value="0" [checked]="region.statut === 0"   required formControlName="statut" >
                  <span>Désactiver</span>
                  <span class="checkmark"></span>
              </label>
           </div>
      </div>
      <div class="modal-footer mt-3">
          <button type="button" class="btn btn-danger mr-3 mb-sm-0 mb-3" aria-label="Close" (click)="closeModal()">
              Annuler
            </button>
        <btn-loading   btnClass="btn btn-success mr-3 mb-sm-0 mb-3 " [loadingText]="loadingText"
          [loading]="loading">
          <i class="i-Download"></i>Enregistrer
        </btn-loading>
      </div>
    </form>
  </div>