<div class="modal-header">
  <h4>Rendez Vous</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <form class="event-form p-3" [formGroup]="regionForm" (ngSubmit)="saveRegion()">
    <div class="row form-group">

      <div class="col-md-12">
        <div class="form-group mb-3">
          <label>Planing</label>
          <select class="form-control" formControlName="idplanification" (change)="getCommuneSelect($event)">          
             <option value="">Planification</option>
             <option   value="{{item.idplanification}}" *ngFor="let item of planification">Date clocture   {{item.dateFinaleplanification}}</option>
          </select>
        </div>
        <div class="form-group mb-3">
          <label>Membre</label>
          <input type="text" class="form-control"  formControlName="numeromembre" placeholder="numeromembre">
        </div>
        <div class="form-group mb-3">
          <label>Horaire</label>
          <input type="time" class="form-control"   formControlName="heurerendezvous" placeholder="heurerendezvous">
        </div>

        <div class="form-group mb-3">
          <label>Montnant</label>
          <input type="text" class="form-control"  formControlName="montant" placeholder="montant">
        </div>
       

         <div class="form-group mb-3">
          <label>Description</label>
          <input type="text" class="form-control"  formControlName="descriptionrendezvous" placeholder="descriptionrendezvous">
        </div>

       
      <div class="form-group mb-3">
          <label>Agent Credit</label>
          <select class="form-control" formControlName="idutilisateur" (change)="getUserSelect($event)">           
             <option value="">Agent</option>
             <option   value="{{item.idutilisateur}}" *ngFor="let item of utilisateur">{{item.prenom}} {{item.nom}}</option>
          </select>
        </div>


      </div>
    </div>

    <div class="col-md-12 row">
          <div class="col-md-3">
              <label class="radio radio-reverse radio-success ">
                  <input type="radio"  name="etat"  [checked]="rendezvous.etat === 1"  formControlName="etat" required value="1"  >
                  <span>Activer</span>
                  <span class="checkmark"></span>
              </label>
          </div>
           <div class="col-md-3">
              <label class="radio radio-reverse radio-danger ">
                  <input type="radio" name="etat" [checked]="rendezvous.etat == 0"   required formControlName="etat" >
                  <span>Désactiver</span>
                  <span class="checkmark"></span>
              </label>
           </div>
      </div>
      <div class="modal-footer mt-3">
          <button type="button" class="btn btn-danger mr-3 mb-sm-0 mb-3" aria-label="Close" (click)="closeModal()">
              Annuler
            </button>
        <btn-loading   btnClass="btn btn-success mr-3 mb-sm-0 mb-3 " [loadingText]="loadingText"
          [loading]="loading">
          <i class="i-Download"></i>Enregistrer
        </btn-loading>
      </div>
    </form>
  </div>