<div class="modal-header">
    <h4>Ajouter utilisateur dans un Comite </h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <form class="event-form p-3" [formGroup]="regionForm" (ngSubmit)="saveRegion()">
      <div class="row form-group">
        <div class="col-md-12">
          <div class="form-group mb-3">
            <label>Comite</label>
            <select class="form-control" formControlName="idcomite" (change)="getCommuneSelect($event)">          
               <option value="">Comite</option>
               <option   value="{{item.idcomite}}" *ngFor="let item of comite">{{item.nomcomite}}</option>
            </select>
          </div>
        </div>
      </div>

    
    <div class="modal-footer mt-3">
        <button type="button" class="btn btn-danger mr-3 mb-sm-0 mb-3" aria-label="Close" (click)="closeModal()">
            Annuler
          </button>
      <btn-loading   btnClass="btn btn-success mr-3 mb-sm-0 mb-3 " [loadingText]="loadingText"
        [loading]="loading">
        <i class="i-Download"></i>Enregistrer
      </btn-loading>
    </div>
  </form>
</div>