<!-- app.component.html -->
<!-- app.component.html : Invoice Form UI -->    
    
<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">    
    <a class="navbar-brand" href="#">INVOICE GENERATOR</a>    
</nav>    
    
<div class="container-fluid pt-2">    
    <div class="row">    
        <div class="col-md-8">    
            <div class="card border-secondary">    
                <div class="card-body">    
                    <h4 class="card-title">Customer Details</h4>    
                    <div class="row">    
                        <div class="col-md-8">    
                            <div class="form-group">    
                                <label for="name">Name</label>    
                                <input type="text" class="form-control" name="name" id="name">    
                            </div>    
                            <div class="form-group">    
                                <label for="address">Address</label>    
                                <textarea class="form-control" name="address" id="address" row="3"></textarea>    
                            </div>    
                        </div>    
                        <div class="col-md-4">    
                            <div class="form-group">    
                                <label for="email">Email ID</label>    
                                <input type="email" class="form-control" name="email" id="email">    
                            </div>    
                            <div class="form-group">    
                                <label for="contactNo">Contact No.</label>    
                                <input type="number" class="form-control" name="contactNo" id="contactNo">    
                            </div>    
                        </div>    
                    </div>    
                </div>    
            </div>    
            <div class="card border-secondary mt-2">    
                <div class="card-body">    
                    <h4 class="card-title d-flex justify-content-between">Order Details <button type="button"    
                            class="btn btn-secondary">+</button></h4>    
                    <div class="row">    
                        <table class="table">    
                            <thead>    
                                <tr>    
                                    <th width="25%">Product</th>    
                                    <th width="25%">Price</th>    
                                    <th width="25%">Quantity</th>    
                                    <th width="25%">Amount</th>    
                                </tr>    
                            </thead>    
                            <tbody>    
                                <tr>    
                                    <td scope="row">    
                                        <input type="text" class="form-control" name="productName" id="productName">    
                                    </td>    
                                    <td>    
                                        <input type="number" class="form-control" name="price" id="price">    
                                    </td>    
                                    <td>    
                                        <input type="number" class="form-control" name="quantity" id="quantity">    
                                    </td>    
                                    <td></td>    
                                </tr>    
                            </tbody>    
                        </table>    
                    </div>    
                </div>    
            </div>    
            <div class="card border-secondary mt-2">    
                <div class="card-body">    
                    <h4 class="card-title">Additional Details</h4>    
                    <div class="form-group">    
                        <textarea class="form-control" name="additionalDetails" rows="3"></textarea>    
                    </div>    
                </div>    
            </div>    
    
        </div>    
        <div class="col-md-4">    
            <button (click)="generatePDF()">Generate PDF</button>  
            <button type="button" name="" class="btn btn-secondary btn-lg btn-block">Download Invoice</button>    
            <button type="button" name="" class="btn btn-secondary btn-lg btn-block">Print Invoice</button>    
            <button type="button" name="" class="btn btn-secondary btn-lg btn-block">Open Invoice</button>    
        </div>    
    </div>    
</div>  