<nav class="navbar navbar-expand-sm navbar-dark bg-secondary d-flex justify-content-between">
    <a class="navbar-brand" href="#">INVOICE GENERATOR</a>
    <div>
        <a class="text-white" href="https://github.com/ngdevelop-tech/angular-pdfmake-invoice-generator" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    </div>
</nav>
<h4>Rendez Vous</h4>
<!-- <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button> -->

  <div class="modal-body">
    <form class="event-form p-3" [formGroup]="regionForm" (ngSubmit)=" generatePDF()">
        <div class="row form-group">
  
            <div class="col-md-12">
              <div class="form-group mb-3">
                <label>Planing</label>
                    <input type="text" class="form-control"   formControlName="idplanification" value="{{urictgcommune.dateplanification}}" disabled>
                  
              </div>
              <div class="form-group mb-3">
                <label>Membre</label>
                <input type="text" class="form-control"  formControlName="numeromembre" placeholder="numeromembre" disabled>
              </div>
              <div class="form-group mb-1">
                <label>Horaire</label>
                <input type="time" class="form-control"   formControlName="heurerendezvous" placeholder="heurerendezvous">
              </div>
      
               <div class="form-group mb-3">
                <label>Description</label>
                <input type="text" class="form-control"  hidden formControlName="descriptionrendezvous" placeholder="" disabled>
              </div>
              
            </div>
          </div>
    
        <div class="modal-footer mt-3">
        <!--     <button type="button" class="btn btn-danger mr-3 mb-sm-0 mb-3" aria-label="Close" (click)="closeModal()">
                Annuler
              </button> -->
          <btn-loading   btnClass="btn btn-success mr-3 mb-sm-0 mb-3 " [loadingText]="loadingText"
            [loading]="loading">
            <i class="i-Download"></i>Imprimer
          </btn-loading>
        </div>
      </form>
    </div>





<footer class="fixed-bottom">
    <div class="bg-light text-center p-2">
        <h6>Made with 💗 by
            <a class="twitter-follow-button" href="https://twitter.com/ankit_ngdevelop" target="_blank"> <i class="fa fa-twitter"
                    aria-hidden="true"></i>Ankit_NgDevelop</a>.
        </h6>
    </div>
</footer>